<router-outlet></router-outlet>
<div class="black">
  <h1> {{ title }} </h1>
</div>
<div class="ash">
  <h2>{{ name }}</h2>
  <h2>{{ email }}</h2>
  <button (click)="toggleHobbies()" class="btn">Mostrar Hobbies</button>
  <div *ngIf="showHobbies" class="componente2">
    <h3>hobbies</h3>
    <ul>
      <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
    </ul>
  </div>
  <a href="{{ webpage }}" target="_blank">Visita mi sitio Web</a>
  <form (submit)="newHobby(hobby)">
    <input #hobby type="text" placeholder="hobby"/>
  </form>
</div>

<app-hello-world>Aqui</app-hello-world>

<!--User-->
<div>
  <ul>
    <li *ngFor='let user of users'>
      <app-user [nameUser]="user"></app-user>
    </li>
  </ul>
  <button (click)="sayHello()">Hazme click</button>
</div>

<!--Agregar Elementos-->
<h1>Desde app.component</h1>
<form (submit)="addUser(newUser)">
  <input #newUser type="text"/>
  <button>Agregar Usuario</button>
</form>
<!--Borrar Elementos-->
<ul>
  <li *ngFor="let user of users">
    {{ user }} <button (click)="deleteUser(user)">Borrar Usuario</button>
  </li>
</ul>


<!--Angular 2-->
<div>
  <form>
    <input type='text' name='name' [(ngModel)]='name1'>
    <input type='text' name='age' [(ngModel)]='age'>
  </form>
  <h2>{{ name1 }}</h2>
  <h2>{{ age }}</h2>
</div>

<div>
  <h1>{{ title }}</h1>
</div>
<div class="ash" *ngFor="let post of posts">
  <h2>{{ post.title }}</h2>
  <h3>{{ post.body }}</h3>
</div>

<div class="black">
  <h1>{{ title }}</h1>
</div>