.black {
  background-color: black;
  color: white;
}
.ash {
  background-color: #eee;
  color: black;
}
.componente2 {
  background-color: #555;
  color: red;
  padding: 20px;
}
.btn {
  padding: 8px;
  color: white;
  background-color: brown;
  display: block;
  margin: 3px;
  border-radius: 10px;
}